html, body {
	height: 100%;
	--b_brown: #42210b;
	--b_orange: #e03e11;
	--ques: #f5e6e2;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.container-fluid {
  /* padding: .5rem;*/
  min-height: 100%
}

.frontBGD {
	background: url(../images/jim-brownBW.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}

.frontGraphic {
	padding: 25% 10% 0%;
	width: 35%;
	text-align: center;
}

#holder-only {
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
z-index: 2;
}

/* NO OBJECT - MESSES UP MARKER    object {
	
}*/

.bgdpattern {
	background: url(../images/grass1.gif);
}

.header {
	background-color: #42210b;
	height: 3.0rem;
	
}

.header img {
	padding: 5px;
	margin-bottom: 2px;
	height: 90%;
	width: auto;
}

.header p {
	font-family: arial, sans-serif;
	font-size: 1.0rem;
	line-height: 300%;
	color: #fff;
	font-weight: bold;
}

.no-gutter > [class*='col-'] {
    padding-right:2px;
    padding-left:2px;
}

.myButton {
	background-color: #EB3300;
	font-size: 16px;
	padding: 3px 5px;
	margin:0 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	float: right;
}

.photoBlock {
	max-height: 10vh;
	overflow: hidden;
	text-align: center;
}

.photo {
	object-fit: cover;
}


.sectionTitle {
	font-family: arial, sans-serif;
	color: #eee;
	text-align: center;
	background-color: #e03e11;
	/*padding: .5rem;*/
	margin-bottom: .75rem;
	height: 1.5rem;
}

.sectionTitle p {
	font-size: 1.0rem;
	margin-bottom: 1px;
	/*line-height: 200%;*/
}

.border-bottom {
	border-bottom: 2px solid white;
}

.border-top {
	border-top: 2px solid white;
}

.h5 {
	font-family: arial, sans-serif;
	font-size: 1.5 rem;
	color: #eee;
	padding-top: 5px;
	margin-bottom: 2px;
}

.insert {
	max-width: 100%;
	margin: 0 auto;
}


section div {
	border: 2px solid #fff;
	border-radius: .5rem;
	margin-bottom: .5rem;
	padding: .1rem;
	min-height: 3.5vh;
}

section p {
	color: #4a231a;
	margin: 0 0 0 15%;
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	font-size: 1.0rem;
	line-height: 110%;
	padding: .3rem;
}

.question {
	background-color: #f5e6e2;
	border: 2px solid #fff;
	min-height: 8vh;
}

.question p {
	margin: 0 2% 0% 2%;
}

.notselected {
	background: url(../images/stripes2.png) no-repeat;
	background-position: left top;
	background-size: 12%;
	background-color: #f5e6e2;
}

.notselected p {
}

.selected {
	background: url(../images/stripes2.png) no-repeat;
	background-position: left top;
	background-size: 12%;
	background-color: #e03e11;
}

.selected p {
	color: #fff;
}

.submit {
	background-color: #8E1E1E;
	border: 2px solid #F8CFC6;
	text-align: center;
	color: #fff;
}

.submit p {
	color: #fff;
	margin: auto;
}

.submitSelected {
	background-color: #e03e11;
	text-align: center;
	color: #fff;
}

.submitSelected p {
	color: #fff;
	margin: auto;
}

#footerHolder {
    bottom: 0;
    width: 100%;
    margin: 0px;
    position: fixed;
       
  }

  #footer {
    background: url(../images/field.gif);
    background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
    background-color: rgba(0,0,0,0);
	color: #fff;
	height: 30px;
	width: 100%;
  }

/* The Modal (background) */
.themodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(95,44,14,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    text-align: center;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Modal Header */
.modal-header {
    padding: 6px 10px 0px;
    margin-bottom: 10px;
    background-color: #e03e11;
    border-radius: 5px;
    color: white;
    height:2.5rem;
}

/* Modal Body */
.modal-body {
	padding: 2px 10px;
	text-align: center;
}

.modal-body p {
	font-size: 21px;
}

.myModalBtn {
	padding: 8px 20px;
	margin: 15px 5px;
	color: #fff;
	font-size: 17px;
	border-radius: 8px;
	background-color: #e03e11;
	border: none;
}

.myMenuBtn {
	padding: 10px 17px;
	margin: 15px 5px;
	font-size: 17px;
}

.menuDivs {
	background-color: #fff;
	border: 2px solid var(--b_brown);
	border-radius: .5rem;
	min-height: 30px;
	margin-bottom: .95rem;
	padding-top: 0rem;	
	color: var(--b_brown);
	text-decoration: none;
}

.menuDivs a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	background-color: var(--ques);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.floatRight {
	float: right;
	/*margin: 5px;*/
	padding: 0px;
}

.score {
	background-color: var(--b_orange);
	border: 2px solid white;
	border-radius: .35rem;
	float: right;
	text-align: center;
	padding: 0;
	min-height: 2vh;
	width: 3em;
	margin-right: 5px;
}

.score p {
	color: #fff;
	float: none;
	display: inline-block;
	margin: auto;
	padding: 2px 10px 0 10px;
}

.total {
	background-color: var(--b_brown);
	border: 2px solid #F8CFC6;
	min-height: 10vh;
	color: white;
	padding-top: .75rem;

}

.total p {
	color: white;
	font-size: 1.3rem;
	font-weight: 600;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.category {
	
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)

@media screen and (min-width: 576px) {

	object {
		width: 70%;
	}

	.header {
	background-color: #42210b;
	height: 3.2rem;
	}

	.sectionTitle {
	margin-bottom: 2.5rem;
	height: 2.5rem;
	}

    .insert {
	max-width: 60%;
	margin: 0 auto;
	}

	#footer {
		height: 40px;
		margin: 0 auto;
		width: 480px;
	}

	.modal-content {
    margin: 45% auto; /* 15% from the top and centered */
    width: 50%; /* Could be more or less, depending on screen size */
	}
}
